<div class="center hero-unit">
	
  <p>
    <b>Title(제목):</b>
    <%= devotionpost.title %>
  </p>
 
  <p>
    <b>Address(주소):</b>
    <%= devotionpost.address %>
  </p>
  
  <p>
    <b>Intro(본문내용-개괄):</b>
    <%= devotionpost.intro %>
  </p>
  
  <p>
    <b>Content(의미):</b>
    <%= devotionpost.content %>
  </p>
  
  <p>
    <b>Application(적용):</b>
    <%= devotionpost.application %>
  </p>

  <% if signed_in? %>
  <p>
    <td><%= link_to 'Edit', edit_devotionpost_path(devotionpost) %></td>
  </p>

  <p>
    <%= link_to 'Destroy', [devotionpost.category, devotionpost],
                 :confirm => 'Are you sure?',
                 :method => :delete %>
  </p>
  <% else %>
  <% end %>
</div>
