<%= form_for(@category) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :title %>
    <%= f.select :title, [['창세기','Genesis'],
    				     ['출애굽기','Exodus'],
    				     ['레위기','Leviticus']] %>
    
<!--     <%= f.text_field :title %> -->
<!--     <%= f.text_field :title, placeholder: "Compose new category..." %> -->
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>
