<p class="notice"><%= notice %></p>
 
<p>
  <b>Category:</b>
  <%= @category.title %>
</p>

<h2>Devotion posts</h2>
<%= render @category.devotionposts %>

<% if signed_in? %>
  <h2>Add a devotion post:</h2>
  <%= render "devotionposts/form" %>
<% else %>
<% end %>

<br />
 
<%= link_to 'Back to Categories', root_path %> |
