<p class="notice"><%= notice %></p>
 
<p>
  <b>Category:</b>
  <%= @category.title %>
</p>

<h2>Devotion posts</h2>
<%= render @category.devotionposts %>
<br />
 
<%= link_to 'Back to Categories', root_path %> |
<% if signed_in? %>
<!--   <%= render "devotionposts/form" %> -->
<!-- <%= link_to 'New post', new_devotionpost_path(1) %> -->
<%= link_to "New post", {:controller => "devotionposts", :action => "new", :id => @category }%>

<% else %>
<% end %>
