<p class="notice"><%= notice %></p>
 
<p>
  <b>Category:</b>
  <%= @category.title %>
</p>

<h2>Devotion posts</h2>
<%= render @category.devotionposts %>
 
<h2>Add a devotion post:</h2>
<%= render "devotionposts/form" %>

<br />
 
<%= link_to 'Back to Categories', root_path %> |